# ---------------------------------
# Common aliases
# ---------------------------------

alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias '?=man'
alias la='ls -A'

alias n='nvim'
