# ---------------------------------
# Common aliases
# ---------------------------------

alias ni='~/Apps/nvim.appimage'

# ---------------------------------
# Aliases for curc 
# ---------------------------------
alias curc="ssh gehi0941@login.rc.colorado.edu"

# ---------------------------------
# Aliases for tmux
# ---------------------------------

alias t='tmux'
