# ---------------------------------
# Common aliases
# ---------------------------------

# ---------------------------------
# Aliases for curc 
# ---------------------------------
# alias curc="ssh gehi0941@login.rc.colorado.edu"

# ---------------------------------
# Aliases for CU VPN 
# ---------------------------------
alias vpnup="/opt/cisco/anyconnect/bin/vpn connect vpn.colorado.edu"
alias vpndn="/opt/cisco/anyconnect/bin/vpn disconnect"
alias vpnst="/opt/cisco/anyconnect/bin/vpn status"

# ---------------------------------
# Aliases for tmux
# ---------------------------------

# alias tmux='tmux -2'
